.navbar {
  background-color: #47a0b8;
}

.logo {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}

/* nav a {
  color: #ffffff;
  margin: 0 2rem;
  font-size: 1rem;
  text-decoration: none;
} */

nav a:hover {
  color: #000000;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
